a:link,
a:visited {
   text-decoration: none;
}

/* Vue routing transition */
.animation-enter-active,
.animation-leave-active {
   transition: transform 1s;
}

.animation-enter,
.animation-leave-to {
   transform: translateX(100%);
}

.animation-enter-to,
.animation-leave {
   transform: translateX(-100%);
}

@media screen and (max-width: 1200px) {
   body {
      font-size: var(--mobile-body);
   } 

   h1 {
      font-size: var(--mobile-title);
   }

   h2 {
      font-size: var(--mobile-undertitle);
   }

   figcaption {
      font-size: var(--mobile-figcaption);
   }
}

@media screen and (min-width: 1201px) {
   body {
      font-size: var(--desktop-body);
   } 

   h1 {
      font-size: var(--desktop-title);
   }

   h2 {
      font-size: var(--desktop-undertitle);
   }

   figcaption {
      font-size: var(--desktop-figcaption);
   }
}