:root {
	/* Desktop */
	--desktop-title: 50px;
	--desktop-undertitle: 40px;
	--desktop-body: 24px;
	--desktop-figcaption: 20px;

	/* Mobile */
	--mobile-title: 28px;
	--mobile-undertitle: 22px;
	--mobile-body: 18px;
	--mobile-figcaption: 16px;
}